:root {
    --primary: #5bc8af;
    --secondary: #297c6b;
    --background: #194d44;
    --faded: #eaeaea;
    --text: #333;
    --gradient1: #2a7d6c;
    --gradient2: #3e69609e;
}

.sp-weight-800 {
    font-weight: 800;
}

.sp-video-section {
    display: flex;

    background-image: url("../assets/video-background.png");
    background-size: cover;
    color: white;
    position: relative;
    height: 648px;

    padding-top: 94px;
    padding-left: 128px;

    .sp-d-br {
        display: block;
    }

    .sp-t-br {
        display: none;
    }

    .sp-m-br {
        display: none;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: 1200px;
        background-image: url("../assets/video-background-tablet.png");
        padding-top: 102px;
        padding-left: 48px;

        .sp-d-br {
            display: none;
        }

        .sp-t-br {
            display: block;
        }
    }


    @media screen and (max-width: 360px) {
        height: 950px;
        background-image: url("../assets/video-background-mobile.png");
        padding-top: 80px;
        padding-left: 16px;

        .sp-t-br {
            display: block;
        }

        .sp-m-br {
            display: block;
        }
    }
}

.sp-video-section__hollow {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.sp-video-section__content {
    flex: 1;
    max-width: 50%;
}

.sp-video-section__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 700;

    @media screen and (max-width: 768px) {
        text-align: center;
    }

    @media screen and (max-width: 360px) {
        font-size: 36px;
        line-height: 48px;
    }
}

.sp-video-section__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 22px;

    @media screen and (max-width: 768px) {
        margin-top: 64px;
    }

    @media screen and (max-width: 360px) {
        margin-top: 36px;

    }
}

.sp-video-section__list-item {
    display: flex;
    flex-direction: column;

}

.sp-video-section__title-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;

}

.sp-video-section__checkmark {
    color: #00e676;
    font-size: 24px;
}

.sp-video-section__list-item-title {
    font-size: 24px;
    line-height: 32px;

    @media screen and (max-width: 360px) {
        font-size: 18px;
        line-height: 24px;

    }
}

.sp-video-section__list-item-text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #FFFFFFCC;

    width: 100%;

    @media screen and (max-width: 360px) {
        font-size: 14px;
        line-height: 24px;

    }
}

.sp-video-section__video {
    flex: 1;
    position: absolute;
    left: 50%;
    top: 50%;

    @media screen and (max-width: 768px) {
        top: 58%
    }

    @media screen and (max-width: 360px) {
        top: 73%;

    }
}

.sp-video-section__video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sp-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 208px;
    height: 208px;

    @media screen and (max-width: 768px) {
        width: 200px;
        height: 200px;
    }

    @media screen and (max-width: 360px) {
        width: 128px;
        height: 128px;
    }
}

.sp-play-button__ring {
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transition: all 0.3s ease;
    transform-origin: center;

    width: 208px;
    height: 208px;

    @media screen and (max-width: 768px) {
        width: 200px;
        height: 200px;
    }

    @media screen and (max-width: 360px) {
        width: 128px;
        height: 128px;
    }
}

.sp-play-button__button {
    position: relative;
    background: #5BC8AF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    width: 120px;
    height: 120px;

    @media screen and (max-width: 768px) {
        width: 154px;
        height: 154px;
    }

    @media screen and (max-width: 360px) {
        width: 99px;
        height: 99px;
    }
}

.sp-play-button__icon {
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    transition: transform 0.3s ease;
}

.sp-play-button:hover .sp-play-button__ring {
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-color: #FFFFFFCC;
    opacity: 0.5;

    width: 208px;
    height: 208px;

    @media screen and (max-width: 768px) {
        width: 200px;
        height: 200px;
    }

    @media screen and (max-width: 360px) {
        width: 128px;
        height: 128px;
    }
}

.sp-video-section__video-image {
    width: 100%;
}



.sp-video-section__modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.sp-video-section__modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 90%;
    width: 600px;
    text-align: center;
}

.sp-video-section__modal-content iframe {
    width: 100%;
    height: 315px;
}

.sp-video-section__close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.sp-video-section__close:hover {
    color: #000;
}

@media (max-width: 768px) {

    .sp-video-section__content,
    .sp-video-section__video {
        max-width: 100%;
    }
}

.sp-video-section__logo {
    position: absolute;
    bottom: 36px;
    right: 36px;

    @media screen and (max-width: 768px) {
        bottom: 12px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}