:root {
    --primary: #5bc8af;
    --secondary: #297c6b;
    --background: #194d44;
    --faded: #eaeaea;
    --text: #333;
    --gradient1: #2a7d6c;
    --gradient2: #3e69609e;
}

.sp-weight-800 {
    font-weight: 800;
}

.sp-video-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #305D52 0%, #153F38 100%);
    color: white;
    position: relative;
}

.sp-video-section__hollow {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.sp-video-section__content {
    flex: 1;
    max-width: 50%;
    padding: 40px;
}

.sp-video-section__title {
    font-size: 44px;
    font-weight: 700;
}

.sp-video-section__list {
    list-style: none;
    padding-top: 20px;
}

.sp-video-section__list-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.sp-video-section__checkmark {
    color: #00e676;
    margin-right: 10px;
    font-size: 24px;
}

.sp-video-section__list-item-title {
    font-size: 24px;
    margin-bottom: 5px;
    display: block;
}

.sp-video-section__list-item-text {
    font-size: 18px;
    color: #FFFFFFCC;
    padding-left: 30px;
}

.sp-video-section__video {
    flex: 1;
    max-width: 50%;
    position: relative;
}

.sp-video-section__video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sp-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.sp-play-button__ring {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transition: all 0.3s ease;
    transform-origin: center;
}

.sp-play-button__button {
    position: relative;
    width: 80px;
    height: 80px;
    background: #5BC8AF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.sp-play-button__icon {
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    transition: transform 0.3s ease;
}

.sp-play-button:hover .sp-play-button__ring {
    width: 140px;
    height: 140px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-color: #FFFFFFCC;
    opacity: 0.5;
}

.sp-video-section__video-image {
    width: 100%;
}

@media (max-width: 768px) {
    .sp-play-button {
        width: 60px;
        height: 60px;
    }

    .sp-play-button__ring {
        width: 80px;
        height: 80px;
    }

    .sp-play-button__button {
        width: 60px;
        height: 60px;
    }

    .sp-play-button__icon {
        width: 20px;
        height: 20px;
    }
}

.sp-video-section__modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.sp-video-section__modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 90%;
    width: 600px;
    text-align: center;
}

.sp-video-section__modal-content iframe {
    width: 100%;
    height: 315px;
}

.sp-video-section__close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.sp-video-section__close:hover {
    color: #000;
}

@media (max-width: 768px) {
    .sp-video-section {
        flex-direction: column;
    }

    .sp-video-section__content,
    .sp-video-section__video {
        max-width: 100%;
    }
}

.sp-video-section__logo {
    position: absolute;
    bottom: 36px;
    right: 36px;
}

@media screen and (max-width: 768px) {
    .sp-video-section__logo {
        bottom: 12px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}